.btnAddAccount {
  color: #ffffff !important;
  background-color: #07963f !important;
  border: none !important;
}

.btnAddAccount:focus,
.btn-primary:focus-visible {
  box-shadow: none !important;
}

.addNewAccountModal {
  .modal-content {
    padding: 0;
    margin: 0;
    border-radius: 5px;
    border: none;
    width: 90%;
  }

  .header {
    position: relative;
    background-color: #07963f;
    color: white;
    text-align: center;
    font-weight: bold;

    border-radius: 4px 4px 0px 0px;
    padding: 15px 0 15px 0;
  }

  .content {
    .inputWrapper {
      margin-top: 15px;
      // background:red;
    }

    .input {
      width: 100%;
      border: 1px solid #ebebeb!important;
      border-radius: 2px;
      padding: 5px;
    }

    .input:focus-visible {
      border: 1px solid #a1a1a1 !important;
      outline: none;
    }

    .buttonBar {
      height: 60px;
      margin-top: 25px;
      border-top: 1px solid #ebebeb;
      padding: 10px;
      text-align: right;
    }

    .buttonWrapper {
      padding-left: 10px;
      display: inline-block;
    }

    .btnAddAccount {
      color: #ffffff !important;
      background-color: #07963f !important;
      border: none !important;
      height: 45px;
      padding: 0 20px 0 20px;
    }

    .btnClose {
      color: #646464 !important;
      background-color: #f6f6f6 !important;
      border: none !important;
      height: 45px;
      padding: 0 20px 0 20px;
    }

    .btn-primary:focus,
    .btn-primary:focus-visible {
      box-shadow: none !important;
    }
    padding: 10px;
  }
}
